*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.5; /*increases the space between lines of text for better readability*/
    font-size: 1.2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h3{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #1F4BAB;
}

section{
    padding: 50px 5%;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.skills,
.projects,
.interests{
    background-color: #F4F7FB;
}


/* navigation styles */
nav{
    position: fixed; /*makes the nav bar stick to the top of the viewport when scrolling*/
    top: 0px; /*sets the distance from the top of the viewport to 20px, ensuring the nav bar stays at the top*/
    width: 100%; /*makes the nav bar span the entire width of the viewport*/
    display: flex; /*initiates use of flexbox on the parent*/
    justify-content: space-between; /*distributes the child elements with space between them. Pushes nav links to the end*/
    align-items: center; /*vertically centers the child elements within the nav bar*/
    background-color: #000;
    color: #fff;
    padding: 18px 5%;
}

.logo{
    font-size: 2rem;
}

.nav-links{
    list-style: none; /*removes the default bullet points from the list*/
    display: flex; /*initiates use of flexbox on the nav links parent and transforms them horizontally*/
    gap: 25px; /*adds space between the nav links*/
}

/* hero section styles */
.hero-sec{
    display: flex;
    justify-content: space-between; /* distributes items evenly along the main axis*/
    /*first item at start, last at end, equal gaps between them*/
    align-items: center; /*vertically centers the child elements within the hero section*/
    padding: 50px 5%;
    min-height: 100vh; /*sets the minimum height of the hero section to 90% of the viewport height*/
    background-color: #1F4BAB;
    z-index: 1000;
}

.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img{
    width: 50%;
    border-radius: 5%; /*makes the image circular by setting the border radius to 50% of its width and height*/
}

.hero-text{
    padding: 20px;
    color: #fff;
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p{
    margin-bottom: 25px;
}

.btn{
    display: inline-block; /*allows the button to have padding and margin while still behaving like a block element*/
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

.btn a{
    text-decoration: none;
    color: #2563EB;
    font-weight: bold;
}

/* about section styles */
.about-content p{
    text-align:center;
    line-height: 1.6; /*increases the space between lines of text for better readability*/
}

.about-content{
    max-width: 800px;
    background-color: #F9FAFB;
    margin: 0 auto; /*centers the about content horizontally within its parent container*/
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*adds a subtle shadow effect to the about content for depth and visual interest*/
}

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center; /*centers the skill cards horizontally within the skills content container*/
    flex-wrap: wrap; /*allows the skill cards to wrap to the next line if they exceed the width of the container*/  
}

.card{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*adds a subtle shadow effect to the about content for depth and visual interest*/
    /* flex: 1;  */
    /*allows the skill cards to grow and fill the available space within*/
}

.projects-content{
    display: flex;
    gap: 20px;
    justify-content: center; /*centers the project cards horizontally within the projects content container*/
    flex-wrap: wrap; /*allows the project cards to wrap to the next line if they exceed the width of the container*/  
}

.projects-content div{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*adds a subtle shadow effect to the about content for depth and visual interest*/
}

.project-card img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}







